.gridContainer {
    display: grid;
    place-items: center;

    user-select: none;
    pointer-events: none;
    
    z-index: -1;
    isolation: isolate;
}

.gridContainer .gridPath {
    fill: var(--theme-text);
}