.logoContainer {
    display: grid;
    place-items: center;
}

.logoContainer .logo {
    width: 2rem;
    height: 2rem;

    transition: all .3s ease-in-out;
}

.logoContainer:hover .logo {
    transform: scale(110%);
    
    transition: all .3s ease-in-out;
}

.logoContainer .logoPath {
    fill: color-mix(in srgb, var(--theme-text) 50%, var(--theme-background));
    fill-opacity: 1;
    
    transition: all .3s ease-in-out;
}

.logoContainer:hover .logoPath {
    fill: var(--theme-primary);

    transition: all .3s ease-in-out;
}