.main {
    margin-left: calc(6rem + 32px);
    width: calc(100vw - 6rem - 32px);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100dvh;
}

.main .mainSection {
    height: 100dvh;

    padding: 8rem 6rem;
}

.main .mainSection:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    h2 {
        text-wrap: balance;
    }

    h5 {
        color: color-mix(in srgb, var(--theme-text) 40%, var(--theme-secondary));
        font-family: var(--typo-code);
    }
    
    .ion-icon {
        color: color-mix(in srgb, var(--theme-text) 40%, var(--theme-secondary));
        cursor: text;
        
        font-size: 1.5rem;
        --ionicon-stroke-width: 3rem;
        vertical-align: middle;
    }
}

@keyframes move-grid {
    from {
      transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.gridContainer {
    position: absolute;
    top: -20rem;
    right: 20rem;

    rotate: -20deg;
    scale: 90%;
    animation: move-grid .3s ease-in-out;
    animation-timeline: view();
}

.gridContainer::after {
    content: '';
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    left: -1rem;
    right: -1rem;
    background: radial-gradient(ellipse at top right, var(--theme-background) -20%, transparent 50%), radial-gradient(ellipse at top left, var(--theme-background) -20%, transparent 50%), radial-gradient(ellipse at bottom left, var(--theme-background) 15%, transparent 40%), radial-gradient(ellipse at bottom right, var(--theme-background) -20%, transparent 50%);
}

.gridContainer .grid .gridPath {
    fill: color-mix(in srgb, var(--theme-text) 80%, var(--theme-background));
}

.main .mainSection:nth-child(2) {
    display: grid;
}