.main {
    margin-left: calc(6rem + 32px);
    width: 100%;

    a::after {
        content: '';
        position: absolute;
        bottom: -.3rem;
        left: 0;
        right: 0;
        border: 2px solid var(--theme-accent);
    }
}

.main .mainSection {
    min-height: 100dvh;
}

.main .mainSection:nth-child(1) {
    display: grid;
    place-content: center;

    padding: 10rem;

    text-wrap: balance;

    h5 {
        color: color-mix(in srgb, var(--theme-text) 70%, var(--theme-background));
    }

    h1 {
        width: 90%;
    }
}