@media (prefers-color-scheme: light) {
  :root {
    --text: #121617;
    --background: #e8eced;
    --primary: #3e5860;
    --secondary: #a69ab7;
    --accent: #88592b;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #e8eced;
    --background: #111516;
    --primary: #9eb8c1;
    --secondary: #544865;
    --accent: #d4a475;
  }
}