@charset "UTF-8";
@import url('https://fh-shadow.github.io/DevImports/Styles/CSS/reset.css');

@font-face {
  font-family: 'Inter';
  src: url('../../public/assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../public/assets/fonts/JetBrainsMono[wght].ttf') format(truetype);
  font-weight: normal;
  font-style: normal;
}

:root {
  --typo-regular: 'Inter', Sans-Serif;
  --typo-code: 'JetBrains Mono', Monospace;
  --typo-size: 16px;
  --typo-height: 27px;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-text: #121617;
    --theme-background: #e8eced;
    --theme-primary: #3e5860;
    --theme-secondary: #a69ab7;
    --theme-accent: #88592b;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --theme-text: #e8eced;
    --theme-background: #111516;
    --theme-primary: #9eb8c1;
    --theme-secondary: #544865;
    --theme-accent: #d4a475;
  }
}